<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card ovefflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="260" height="230">
              </div>
              <div *ngIf="isForgotPassForm" class="col-lg-6 col-md-12 px-4 py-3">
                <form [formGroup]="forgotPassForm" (ngSubmit)="onForgotPass($event)">
                  <h4 class="mb-2 card-title">Reset Password</h4>
                  <p class="card-text mb-3">Please enter your email address and we'll
                    send you
                    instructions on how to
                    reset your password.</p>
                  <input type="text" formControlName="email" class="form-control" placeholder="email"
                    [ngClass]="{ 'is-invalid': forgotPassFormSubmitted && ff.email.invalid, 'is-valid': forgotPassFormSubmitted && !ff.email.invalid }"
                    required>
                  <div *ngIf="forgotPassFormSubmitted && ff?.email?.errors?.required"
                    class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> email is
                    required
                  </div>
                  <div class="d-flex flex-sm-row flex-column justify-content-between mt-2">
                    <a [routerLink]="['/pages/login']" class="btn bg-light-primary mb-2 mb-sm-0">Sign in instead</a>
                    <button type="submit" class="btn btn-primary ml-sm-1">Reset</button>
                  </div>
                </form>
              </div>
              <div *ngIf="isResetPassForm" class="col-lg-6 col-md-12 px-4 py-3">
                <form [formGroup]="resetPassForm" (ngSubmit)="onResetPass()">
                  <h4 class="mb-2 card-title">Reset Password</h4>
                  <div class="form-group">
                    <input type="text" formControlName="verificationCode" class="form-control mb-2"
                      placeholder="Verification Code"
                      [ngClass]="{ 'is-invalid': resetPassFormSubmitted && rf.verificationCode.invalid, 'is-valid': resetPassFormSubmitted && !rf.verificationCode.invalid }"
                      required>
                    <div *ngIf="resetPassFormSubmitted && (rf.verificationCode.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> verification
                      Code is
                      required
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password"
                      [ngClass]="{ 'is-invalid': resetPassFormSubmitted && rf.password.invalid, 'is-valid': resetPassFormSubmitted && !rf.password.invalid }"
                      required>
                    <div *ngIf="resetPassFormSubmitted && (rf.password.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Password is
                      required
                    </div>
                    <div *ngIf="rf.password.errors?.passwordStrength" class="help-block mt-1 text-danger"> <i
                        class="ft-alert-circle align-middle"></i>
                      {{rf.password.errors?.passwordStrength}}
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control mb-2"
                      placeholder="Confirm Password"
                      [ngClass]="{ 'is-invalid': resetPassFormSubmitted && rf.confirmPassword.invalid, 'is-valid': resetPassFormSubmitted && !rf.confirmPassword.invalid }"
                      required>
                    <div *ngIf="resetPassFormSubmitted && (rf.confirmPassword.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Confirm Password
                      is
                      required
                    </div>
                    <div *ngIf="resetPassFormSubmitted && (rf.confirmPassword.errors?.mustMatch)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Passwords must
                      match
                    </div>
                  </div>
                  <div class="d-flex flex-sm-row flex-column justify-content-between mt-2">
                    <button class="btn btn-primary ml-sm-1">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->