<!-- Multi Purpose Datatables -->
<section id="ngx-datatable-multi-purpose modals">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">My Carriers</h4>
        </div>
        <div class="card-content">
          <div class="card-body">

            <!-- ngx-datatable-multi-purpose -->
            <fieldset class="form-group">
              <label for="ngx-filter-ref">Search:
                <input id="ngx-MultiPurposeFilter-ref" class="form-control form-control-sm d-inline-block width-200"
                  type="text" placeholder="Filter the Name column..." (keyup)="MultiPurposeFilterUpdate($event)" />
              </label>
            </fieldset>
            <ngx-datatable #table class="bootstrap core-bootstrap header-height-50" [columns]="columns"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
              [rows]="multiPurposeRows" [selectionType]="SelectionType.checkbox" [scrollbarH]="true">
             <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                  </div>
                </ng-template>
                <!--<ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                  </div>
                </ng-template>
              </ngx-datatable-column>-->
              <ngx-datatable-column name="Name" prop="full_name" [width]="100">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div *ngIf="row.avatar.length > 0; else customAvatar">
                      <img class="rounded-circle mr-1" src="assets/img/portrait/small/{{row.avatar}}"
                        height="32" width="32" alt="datatable-avatar">
                    </div>
                    <ng-template #customAvatar>
                      <div class="avatar mr-1 ml-0"
                        [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                        <div class="avatar-content">{{ name | shortName }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height">
                      <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                      <span class="text-muted font-small-2">
                        {{ row.post }}</span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="(DOT / MC) Type - Number" prop="type" [width]="30">
			  <ng-template let-row="row" let-type="value" ngx-datatable-cell-template>
			  <button type="button" class="btn btn-outline-primary round mr-1 mb-1">{{type}}</button><button type="button" class="btn btn-outline-info round mr-1 mb-1">{{ row.mcnum}}</button>
			  </ng-template> 
			  </ngx-datatable-column>
              <!--<ngx-datatable-column name="(DOT / MC) Number" prop="mcnum" [width]="100"></ngx-datatable-column>-->
              <ngx-datatable-column name="Status" prop="status" [width]="30">
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <div class="badge badge-pill"
                    [ngClass]="{'bg-light-success':status == '1', 'bg-light-danger':status == '2'}">
                    {{ status == 1 ? "Associated" : (status == 2 ? "Not Associated" : "Associated") }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="70">
                <ng-template ngx-datatable-cell-template>
                  <button type="button" class="btn gradient-ibiza-sunset" (click)="open(content)">Discontinue</button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!--/ ngx-datatable-multi-purpose -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Multi Purpose Datatables -->

<ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Discontinue Association with Carrier</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
			  <form class="needs-validation" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
              <div class="modal-body">
							<div class="form-row">
								<div class="col-md-12 mb-12 form-group">
									<label for="validationTooltip03">Reason</label>
									<input type="text" name="reason" class="form-control" id="validationTooltip03" placeholder="Reason"  [(ngModel)]="model.reason" #reason="ngModel"
                  [ngClass]="{ 'is-invalid': userForm.submitted && reason.invalid, 'is-valid': userForm.submitted && !reason.invalid }" required>
									<div *ngIf="userForm.submitted && (reason.invalid || reason.errors?.required)" class="invalid-tooltip">Please provide a valid reason.</div>
								</div>
							</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
				<button class="btn gradient-pomegranate big-shadow" type="submit">Send Discontinue Request</button>
              </div>
			  </form>
            </ng-template>
			<style>
@media (min-width: 576px){
.modal-dialog {
    max-width: 1000px;
	}
	}
	</style>