.page-user-profile .user-profile-images .user-timeline-image {
    min-height: 70px;
	}
.page-user-profile .user-profile-text {
    bottom: 75px;
    color: #000;
}	
.page-user-profile .user-profile-text .profile-text-color {
    color: #000;
}
	